ion-view.category-feeds-view
  ion-nav-title
    span {{categoryTitle}} feeds
  ion-content
    .list.category-feeds
      a.item.item-icon-right(ng-repeat='source in category_sources', ui-sref='app.feed-entries({categoryId: categoryId, sourceId: (source.title | slugify)})')
        .thumbnail-outer
          pre-img(ratio='_1_1', helper-class='')
            img.thumbnail(ng-src='{{source.image}}', spinner-on-load='')
        div
          span.title {{source.title}}
          p.description {{source.description}}
        i.icon.ion-arrow-right-c
