ion-view.feeds-categories-view
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-title
    span Feeds Categories
  ion-content
    .row.categories-list
      .col.col-50(ng-repeat='category in feeds_categories')
        a.feed-category(ui-sref='app.category-feeds({categoryId: (category.title | slugify)})')
          pre-img(ratio='_1_1', helper-class='square-image')
            img.category-image(ng-src='{{category.image}}', spinner-on-load='')
          .category-bg
          span.category-title {{category.title}}
