ion-view.forgot-password-view.auth-view(cache-view='false')
  ion-content(scroll='false')
    .row
      .col.col-center
        .card.forgot-password-container
          form(name='forgot_password_form', novalidate='')
            .item.item-body
              label.item.item-input
                input(type='email', placeholder='Email', name='user_email', ng-model='user.email', required='')
            .item.item-body.bottom-content
              button.button.button-positive.button-block(type='submit', ng-click='recoverPassword()', ng-disabled='forgot_password_form.$invalid')
                | Recover it
        .alternative-actions
          a.log-in.button.button-small.button-clear.button-light(ui-sref='auth.login')
            | Log In
          a.sign-up.button.button-small.button-clear.button-light(ui-sref='auth.signup')
            | Sign Up