ion-view.forms-view
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-title
    span Forms
  ion-content
    ul.list
      .item.item-divider Inline Labels
      label.item.item-input
        span.input-label First Name
        input(type='text')
      label.item.item-input
        span.input-label Last Name
        input(type='text')
      label.item.item-input
        span.input-label Email
        input(type='email')
      .item.item-divider Floating Labels
      label.item.item-input.item-floating-label
        span.input-label Telephone
        input(type='tel', placeholder='Your phone')
      label.item.item-input.item-floating-label
        span.input-label Number
        input(type='number', placeholder='Some number')
      .item.item-divider Stacked Labels
      label.item.item-input.item-stacked-label
        span.input-label Birth date
        input(type='date')
      label.item.item-input.item-stacked-label
        span.input-label Month
        input(type='month')
      .item.item-divider Placeholder Labels
      label.item.item-input
        textarea(placeholder='Description')
      label.item.item-input
        input(type='password', placeholder='Your password')
      .item.item-divider Inset Inputs
      .item.item-input-inset
        label.item-input-wrapper
          input(type='text', placeholder='Search...')
        button.button.button-small
          | Submit
