ion-view.image-picker-view
  ion-nav-title
    span Image picker
  ion-content.padding
    button.button.button-block.button-dark(ng-click='selImages()')
      | Select Images
    button.button.button-block.button-stable(ng-show='images.length > 0', ng-click='shareAll()')
      | Share All
    .list.card(ng-repeat='img in images')
      .item.item-image
        img(ng-src='{{img}}')
      .item.tabs.tabs-secondary.tabs-icon-left
        a.tab-item.image-option(href='#', ng-click='shareImage(img)')
          i.icon.ion-share
          | Share
        a.tab-item.assertive.image-option(href='#', ng-click='removeImage(img)')
          i.icon.ion-trash-a.assertive
          | Remove