doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(http-equiv='Content-Security-Policy', content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='lib/ionic-contrib-tinder-cards/ionic.tdcards.css', rel='stylesheet')
    script(src='https://maps.google.com/maps/api/js')
    script(src='https://www.youtube.com/iframe_api')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/angular-resource/angular-resource.min.js')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/ngmap/build/scripts/ng-map.min.js')
    script(src='lib/ngCordova/dist/ng-cordova.min.js')
    script(src='lib/moment/min/moment.min.js')
    script(src='lib/angular-moment/angular-moment.min.js')
    script(src='lib/angular-slugify/dist/angular-slugify.min.js')
    script(src='lib/collide/collide.js')
    script(src='lib/ionic-contrib-tinder-cards/ionic.tdcards.js')
    script(src='lib/ngCordova/dist/ng-cordova.min.js')
    script(src='lib/angular-youtube-mb/dist/angular-youtube-embed.min.js')
    // cordova script (this will be a 404 during development)
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/controllers.js')
    script(src='js/directives.js')
    script(src='js/filters.js')
    script(src='js/services.js')
    script(src='js/factories.js')
    script(src='js/views.js')
    script(src='js/config.js')
  body(ng-app='rebeacons')
    ion-nav-view