ion-view.layouts-view
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-title
    span Layouts
  ion-content
    .list.layouts-functionalities
      a.item.item-icon-left.item-icon-right(ui-sref='app.tinder-cards')
        i.icon.ion-happy-outline
        div
          span.title Tinder Cards
          p.description Awesome Tinder Cards
        i.icon.ion-arrow-right-c
      a.item.item-icon-left.item-icon-right(ui-sref='app.slider')
        i.icon.ion-arrow-swap
        div
          span.title Slider
          p.description Example of sliding cards
        i.icon.ion-arrow-right-c
