ion-view.login-view.auth-view(cache-view='false')
  ion-content(scroll='false')
    .row
      .col.col-center
        .card.login-container(content-tabs='', tabsdata='tabsdata')
          form(name='login_form', novalidate='', ng-cloak='')
            my-tabs
              my-tab(title='Email')
                .list
                  label.item.item-input
                    input(type='email', placeholder='Email', name='user_email', ng-model='user.email', required='')
                  label.item.item-input(show-hide-container='')
                    input(type='password', placeholder='Password', name='user_password', ng-model='user.password', required='', show-hide-input='')
              my-tab(title='Phone')
                .list
                  label.item.item-input
                    input(type='text', placeholder='Phone number', name='user_phone', ng-model='user.phone', required='')
                  label.item.item-input(show-hide-container='')
                    input(type='password', placeholder='PIN', name='user_pin', ng-model='user.pin', required='', valid-pin='user.pin', show-hide-input='')
            .item.item-body.bottom-content
              button.button.button-positive.button-block(type='submit', ng-click='doLogIn()', ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)")
                | Log In
        .alternative-actions
          a.forgot-password.button.button-small.button-clear.button-light(ui-sref='auth.forgot-password')
            | Forgot Password?
          a.sign-up.button.button-small.button-clear.button-light(ui-sref='auth.signup')
            | Sign Up