ion-view.maps-view
  ion-nav-title
    span Maps
  ion-content(scroll='false')
    .mapWrap(data-tap-disabled='true')
      .row.center-map-action
        .col
          .list
            .item.item-input-inset
              a.button.button-icon.icon.ion-pinpoint(ng-click='centerOnMe()')
              label.item-input-wrapper
                input(type='text', placeholder='My Location', disabled='', ng-model='my_location')
      map(center='{{center_position.lat}},{{center_position.lng}}', zoom='15')
        marker(position='{{current_position.lat}},{{current_position.lng}}', title='Hello Marker', visible='true')
        info-window#1(position='{{info_position.lat}},{{info_position.lng}}', visible='true')
          div(ng-non-bindable='')
            b The best restaurant
            br
            | This is html so you can put whatever
            br
            | you want such as images and
            a(href='') links
            br
            img(style=' border-radius: 24px;', src='http://lorempixel.com/50/50/food/?v=1')
            img(style=' border-radius: 24px;', src='http://lorempixel.com/50/50/food/?v=2')
            img(style=' border-radius: 24px;', src='http://lorempixel.com/50/50/food/?v=3')
