ion-view.miscellaneous-view
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-title
    span Miscellaneous
  ion-content
    .list.miscellaneous-functionalities
      div(dynamic-anchor-fix='')
        a.item.item-icon-left.item-icon-right(href='http://www.ionicthemes.com')
          i.icon.ion-ios-browsers-outline
          div
            span.title In App Browser
            p.description Show web browser view with external links
          i.icon.ion-arrow-right-c
      a.item.item-icon-left.item-icon-right(ui-sref='app.maps')
        i.icon.ion-map
        div
          span.title Maps and GeoLocation
          p.description Show map and access user's current location
        i.icon.ion-arrow-right-c
      a.item.item-icon-left.item-icon-right(ui-sref='app.image-picker')
        i.icon.ion-images
        div
          span.title Image Picker
          p.description Select and share images from your phone
        i.icon.ion-arrow-right-c
      a.item.item-icon-left.item-icon-right(href='#', ng-controller='AdsCtrl', ng-click='manageAdMob()')
        i.icon.ion-social-usd-outline
        div
          span.title AdMob
          p.description Show Google AdMob mobile ads
      a.item.item-icon-left.item-icon-right(href='#', ng-controller='AdsCtrl', ng-click='manageiAd()')
        i.icon.ion-social-usd-outline
        div
          span.title iAd
          p.description Show Apple iAd mobile ads
      a.item.item-icon-left.item-icon-right(href='#', ng-controller='RateApp', ng-click='rateApp()')
        i.icon.ion-ios-star-half
        div
          span.title Rate the app
          p.description Rate this app in Google and Apple stores
      a.item.item-icon-left.item-icon-right(href='#', ng-controller='SendMailCtrl', ng-click='sendMail()')
        i.icon.ion-email
        div
          span.title Send email
          p.description Access your phone native email sender provider
