.pre-img.helperClass(class='{{ratio}} {{ }}', ng-class="{ 'finish-loading': loaded }")
  ion-spinner.spinner-on-load(ng-show='!loaded')
  // <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span>
  ng-transclude