ion-view.profile-view
  ion-nav-title
    span Profile
  ion-content
    .top-content.row
      .profile-container
        .user-image-container
          pre-img(ratio='_1_1', helper-class='rounded-image')
            img.user-image(ng-src='https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg', spinner-on-load='')
        .user-name Brynn Evans
        .user-twitter @brynn
      .user-background-image-outer
        div(multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']")
    .bottom-content
      .user-bio
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
