ion-view.settings-view
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-nav-title
    span Settings
  ion-content
    ul.list
      .item.item-divider TOGGLE
      ion-toggle(ng-model='airplaneMode', toggle-class='toggle-assertive') Airplane Mode
      ion-toggle(ng-model='wifi', toggle-class='toggle-positive') Wi-Fi
      ion-toggle(ng-model='bluetooth', toggle-class='toggle-calm') Bluetooth
      ion-toggle(ng-model='personalHotspot', toggle-class='toggle-dark') Personal Hotspot
      .item.item-divider CHECKBOXES
      ion-checkbox(ng-model='checkOpt1') Option 1
      ion-checkbox(ng-model='checkOpt2') Option 2
      ion-checkbox(ng-model='checkOpt3') Option 3
      .item.item-divider RADIO
      ion-radio(ng-model='radioChoice', ng-value="'A'") Choose A
      ion-radio(ng-model='radioChoice', ng-value="'B'") Choose B
      ion-radio(ng-model='radioChoice', ng-value="'C'") Choose C
      .item.item-divider RANGES
      .range
        i.icon.ion-volume-low
        input(type='range', name='volume')
        i.icon.ion-volume-high
      .item.range.range-positive
        i.icon.ion-ios-sunny-outline
        input(type='range', name='volume', min='0', max='100', value='33')
        i.icon.ion-ios-sunny
      .item.item-divider
      button.button.button-block.button-assertive(ng-click='showLogOutMenu()')
        | Logout
