ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content.post-size-14px
    ion-nav-bar.bar.app-top-bar
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='menuContent')
  ion-side-menu.main-menu(side='left', expose-aside-when='large')
    ion-content
      ion-list
        ion-item.heading-item.item.item-avatar(nav-clear='', menu-close='', ui-sref='app.profile')
          .user-image-container
            pre-img(ratio='_1_1', helper-class='rounded-image')
              img.user-image(ng-src='https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg', spinner-on-load='')
          h2.greeting Hi Lacey
          p.message Welcome back!
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='app.maps')
          i.icon.ion-bookmark
          h2.menu-text Property Search
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='app.bookmarks')
          i.icon.ion-bookmark
          h2.menu-text Saved Properties
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='app.feeds-categories')
          i.icon.ion-social-wordpress
          h2.menu-text Places
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='app.layouts')
          i.icon.ion-wand
          h2.menu-text Layouts
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='auth.login')
          i.icon.ion-asterisk
          h2.menu-text Login
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='auth.signup')
          i.icon.ion-document
          h2.menu-text Sign Up
        ion-item.item-icon-left(nav-clear='', menu-close='', ui-sref='app.settings')
          i.icon.ion-gear-a
          h2.menu-text Settings