ion-view.signup-view.auth-view(cache-view='false')
  ion-content(scroll='false')
    .row
      .col.col-center
        .card.sign-up-container
          form(name='signup_form', novalidate='')
            .item.item-body
              label.item.item-input
                input(type='email', placeholder='Email', name='user_email', ng-model='user.email', required='')
              label.item.item-input(show-hide-container='')
                input(type='password', placeholder='Password', name='user_password', ng-model='user.password', required='', show-hide-input='')
            .item.item-body.bottom-content
              button.button.button-assertive.button-block(type='submit', ng-click='doSignUp()', ng-disabled='signup_form.$invalid')
                | Sign Up
        .alternative-actions
          a.log-in.button.button-small.button-clear.button-light(ui-sref='auth.login')
            | Log In