ion-view.tinder-cards-view
  ion-nav-title
    span Tinder Cards
  ion-content(scroll='false')
    td-cards
      td-card#td-card(ng-repeat='card in cards', on-transition-left='transitionLeft(card)', on-transition-right='transitionRight(card)', on-transition-out='transitionOut(card)', on-destroy='cardDestroyed($index)', on-swipe-left='cardSwipedLeft($index)', on-swipe-right='cardSwipedRight($index)', on-partial-swipe='cardPartialSwipe(amt)')
        .image
          .no-text.overlayBox
            .noBox.boxed
              | Nope
          img(ng-src='{{card.image}}')
          .yes-text.overlayBox
            .yesBox.boxed
              | Yes
        .title
          | {{card.name}}