ion-view.walkthrough-view(cache-view='false')
  ion-content(scroll='false')
    .top-content.row
      .col.col-center
        img(ng-src='img/logo.png')
    .bottom-content.row
      .col.col-center
        a.login.button.button-block.button-stable(ui-sref='auth.login')
          | Log In
        a.sign-up.button.button-block.button-stable(ui-sref='auth.signup')
          | Sign Up